BraveSoftware/
Code/
epiphany/
google-chrome/
remmina/
sublime-text-3/
transmission/
Unknown Organization/
zoomus.conf



gnome-initial-setup-done 
pavucontrol.ini
gnome-session  
procps
goa-1.0/
cef_user_data/     
chromium/        
QtProject.conf
remmina
gtk-4.0        
enchant          
evolution      
user-dirs.dirs
midori/                   
user-dirs.locale
mimeapps.list 

yelp
gnome-control-center 
